.add_review_modal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    font-family: sans-serif;
    align-items: center;
}

.add_review_modal_title {
    font-size: 18pt;
}

.add_review_modal_review_input {
    resize: none;
    width: 100%;
    height: 10vh;
    font-family: sans-serif;
}

.add_review_modal_star_rating_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

.add_review_modal_star_rating_label {
    margin: 0 5px;
}

.add_review_modal_star_radio_input {
    display: none;
}

.filled {
    color: #FF5A5F;
}

.not-filled {
    color: #CCC;
}

.post_review_button {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.post_review_button.enabled {
    border: 2px solid black;
    background-color: #ff595f;
    box-shadow: 3px 3px #999;
    color: #FFFFFF;
}

.post_review_button.enabled:hover {
    border: 2px solid black;
    background-color: #ff8488;
    box-shadow: 3px 3px #999;
    color: #FFFFFF;
}

.post_review_button.disabled {
    border: 2px solid #999999;
    background-color: #FFFFFF;
    box-shadow: 3px 3px #999999;
    color: #999999;
}
