.recipe_form_background_image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("../../assets/images/bread.jpg");
    background-attachment: fixed;
}

.recipe_form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 600px;
    margin: 0 auto;
    background-color: #ffffffc5;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.recipe_form_label {
    font-size: 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: .75rem;
    font-weight: bold;
}

.recipe_form_input {
    padding: .25rem;
}

.recipe_form_input::placeholder{
    font-style: italic;
}

.recipe_form_input_div,
.method_div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.recipe_form_time_to_make {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe_form_title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.recipe_form_description_input {
    height: 6rem;
    resize: none;
}

.ingredients_inputs {
    display: inline-flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.ingredient_input {
    width: fit-content;
}

.method_div > input {
    margin-bottom: px;
}

.add_ingredient_button,
.add_method_button,
.remove_method_button {
    width: fit-content;
    align-self: flex-end;
    margin: 10px 0px;
}

.remove_method_button,
.remove_ingredient_button {
    background-color: transparent;
    border: none;
    color: maroon;
    cursor: pointer;
}

.recipe_form_submit_button {
    width: 50%;
    padding: 10px 0px;
    margin-bottom: 15px;
    align-self: center;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.recipe_form_legend {
    text-align: right;
}

.required_input {
    color: red;
}
