.recipe_form_background_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/bread.jpg");
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.recipe_form {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 600px;
    min-height: fit-content;
    margin: 0 auto;
    background-color: #ffffffd9;
    padding: 1.5rem;
    border-radius: 1.5rem;
    position: relative;
    top: 2em;
}

.recipe_form_input_constraints {
    font-size: 14px;
    font-weight: bold;
}

.recipe_form * {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recipe_form_container {
    height: 1500px;
    min-height: 100vh;
}

.recipe_form_label {
    font-size: 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: .75rem;
    font-weight: bold;
}

.recipe_form_input {
    padding: .25rem;
}

.recipe_form_input::placeholder{
    font-style: italic;
}

.recipe_form_input_div,
.method_div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.recipe_form_time_to_make {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe_form_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.recipe_form_description_input {
    height: 6rem;
    resize: none;
}

.recipe_preview {
    height: 250px;
    width: 250px;
    object-fit: scale-down;
    border: 1px solid #666;
    border-radius: 1em;
    background-color: rgba(245, 245, 220, 0.428);
}

.empty_preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************************************************************************ Ingredients **************************************************************************/

.ingredients_inputs {
    display: inline-flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.ingredient_input {
    width: fit-content;
}

.add_ingredient_button,
.add_method_button,
.remove_method_button {
    width: fit-content;
    align-self: flex-end;
    margin: 10px 0px;
}

.add_ingredient_button,
.add_method_button {
    border: none;
    background-color: coral;
    border-radius: .25em;
    color: white;
    cursor: pointer;
    padding: .5em;
    transition: 300ms ease;
}

.add_ingredient_button:hover,
.add_method_button:hover {
    background-color: black;
}

/************************************************************************************ Methods **************************************************************************/
.remove_method_button,
.remove_ingredient_button {
    background-color: transparent;
    border: none;
    color: maroon;
    cursor: pointer;
}

/************************************************************************************ Tags **************************************************************************/
.recipe_form_display_tag_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    margin: .5rem;
    padding: .25rem;
    background-color: coral;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tag_name {
    margin-right: .25rem;
    font-size: 12px;
}

.tag_name,
.remove_tag_button {
    color: #fff;
}

.remove_tag_button {
    font-size: 8px;;
    justify-self: flex-start;
    cursor: pointer;
    transition: 150ms ease;
}

.remove_tag_button:hover {
    font-size: .75rem;
    font-weight: bold;
    color: black;
}


/************************************************************************************ Bottom **************************************************************************/
.recipe_form_submit_button {
    width: 50%;
    padding: 10px 0px;
    margin-bottom: 15px;
    align-self: center;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 250ms ease;
}

.recipe_form_submit_button:hover {
    background-color: black;
}

.recipe_form_legend {
    text-align: right;
}

.required_input {
    color: red;
}
