@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.recipe_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 33%;
    min-width: 600px;
    margin: 0 auto;
}

.recipe_container  * {
    margin: 15px 0px;
    max-width: 100%;
}

.recipe_title_and_buttons_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.single_recipe_title {
    font-size: 3rem;
    font-weight: bold;
    max-width: 100%;
    font-family: 'Lora', serif;
}



.recipe_details_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: fit-content;
}

.recipe_details_buttons > * {
    border: none;
    font-size: 2rem;
    padding: .25rem;
    background-color: transparent;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 250ms ease;
}


.recipe_details_buttons > *:hover {
    cursor: pointer;
    color: coral;
}



.single_recipe_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.single_recipe_tags > a {
    margin: .25em;
    padding: .25em;
    background-color: coral;
    border-radius: .25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    transition: 350ms ease;
}

.single_recipe_tags > a:hover {
    background-color: black;
}



/* Recipe Image */
.single_recipe_image_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe_detail_image {
    height: 600px;
    width: 600px;
    object-fit: cover;
    border-radius: 1rem;
}

/************************ Recipe Details ****************************/

.recipe_details_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.recipe_details_title_author_div,
.recipe_details_reviews_summary_div {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
}
