.navbar_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navbar_div a,
.navbar_div a:visited,
.navbar_div a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


.navbar_user_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}

.navbar_user_container > a:hover {
  border-bottom: 4px solid #e6ec31;
}

.navbar_logged_out_elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_logo {
  font-size: 32px;
  font-family: 'Great Vibes', cursive;
}

.navbar_search_div {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: fit-content;
}

.search_form_input {
  margin-right: 5px;
}

.navbar_section {
  width: 15%;
}

/*From Starter Code*/
.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 15px;
  min-width: 3em;
  min-height: 7em;
  background-color: rgba(245, 245, 220, 0.967);
  border-radius: .5em;
  padding: 1em;
}

.user_drop_down_div {
  margin: 1em 0;
}

.hidden {
  display: none;
}
