.navbar_div {
  display: flex;
  justify-content: space-between;
}

.navbar_div a {
  text-decoration: none;
}

.navbar_user_container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.navbar_logo {
  font-size: 32px;
  font-family: 'Great Vibes', cursive;
}

/*From Starter Code*/
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
