.signup_background_image,
.login_background_image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-attachment: fixed;
}

.signup_background_image {
    background-image: url("../../assets/images/bread.jpg");
}

.login_background_image {
    background-image: url("../../assets/images/grapes.jpg");
}


.auth_form_container{
    width: 50%;
    max-width: 800px;
    background-color: #ffffffc5;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    top: 25px;
    left: 25px;
}

.auth_form_title {
    margin: 15px;
}

.auth_form {
    display: flex;
    flex-direction: column;
}


/* Inputs */
.auth_form_input_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 15px;
}

.auth_form_input_label{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.auth_form_input {
    margin-top: 5px;
    padding: 5px;
}

.auth_form_input::placeholder {
    font-style: italic;
    font-family: serif;
}


/* Buttons */
.auth_form_button_div {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;

}

.auth_form_button {
    width: fit-content;
    background-color: #ee5836;
    border: none;
    padding: 0.75rem;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}

.auth_form_button:hover {
    background-color: #ee7936;
}


/* Bottom */
.auth_form_error{
    color: red;
}



.auth_form_signup_link_div > a {
    margin-left: 15px;
    text-decoration: none;
    color: black
}

.auth_form_signup_link {
    text-decoration: underline yellow solid;
    text-underline-position: under;
}

.auth_form_signup_link:hover {
    text-decoration: underline 4px #e6ec31;
}
