.auth_form_container{
    width: 50%;
    background-color: beige;
    margin: 15px;
    border-radius: 15px;
    padding: 15px;
}

.auth_form_title {
    margin: 0;
}

.auth_form {
    display: flex;
    flex-direction: column;
}

.auth_form_input_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 15px;
}

.auth_form_input_label{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.auth_form_button {
    width: fit-content;
    background-color: #ee5836;
    border: none;
    padding: 0.75rem;
    color: #fff;
    cursor: pointer;
    margin: 15px;
}

.auth_form_button:hover {
    background-color: #ee7936;
}

.auth_form_input {
    margin-top: 5px;
    padding: 5px;
}

.auth_form_input::placeholder {
    font-style: italic;
    font-family: serif;
}

.auth_form_error{
    color: red;
}
