/* TODO: Add styling for recipe tiles */
.recipe_tiles_div {
    margin: 15px auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    font-family: sans-serif;
}

.recipe_tile {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #999;
    padding: 5px;
}
